# Prerequisites
*.d

# Object files
*.o
*.so
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# CLion files
.idea/
*.iml

# CMake
cmake-build-*/

heightMapper/height_map.csv
heightMapper/height_map.npy
algorithm/CMakeFiles/
